.LinkList
    a
        display: block
        margin-bottom: 0.5em

.LinkList--section
    a
        display: inline-block
        padding: 0 0.5em
        border-right: 1px solid #444

        &:first-child
            padding-left: 0

        &:last-child
            border-right: none
