.Pagination
    display: flex
    justify-content: space-between
    margin-top: 3em
    font-size: 0.875em

.Pagination--next,
.Pagination--prev
    flex-basis: 50%

.Pagination--next
    text-align: right
