.PromoBlock
    margin: 1em 0
    border: 1px solid grey

    @media (min-width: bpMd)
        display: flex
        align-items: stretch

    // testing only
    .Promo:nth-child(even)
        background-color: #eee

.Promo
    padding: 1em

    h3
        margin: 0 0 0.1rem

    p
        font-size: 1.1rem

    @media (min-width: bpMd)
        flex: 0 1 auto
