.SectionNav
    a
        display: inline-block
        margin: 0 0.5em 0.5em 0
        padding-right: 0.5em
        border-right: 1px solid rgb(68, 68, 68)
        &:last-child
            border-right: 0
