.NavBar
    background-color: rgb(201, 216, 242)
    font-family: 'Roboto Condensed', sans-serif

.SiteHeader
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    padding: 0.5em 0
    margin-bottom: 2em
    @media (min-width: 768px)
        padding: 1em 0

.SiteLogo
    text-decoration: none
    flex-basis: 200px

.SiteNav
    font-size: 0.875em

    a
        padding: 0 0.5em
        border-right: 1px solid #444

        &:last-child
            border-right: none
