.SiteHeader
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    padding-top: 0.5em
    margin-bottom: 2em

.SiteLogo
    text-decoration: none
    flex-basis: 200px

.SiteNav
    font-size: 0.875em

    a
        padding: 0 0.5em
        border-right: 1px solid #444

        &:last-child
            border-right: none
