*
    box-sizing: border-box

html, body
    height: 100%

body
    margin: 0
    padding: 0
    background-color: rgb(245, 245, 245)
    font-family: 'Crimson Text', serif

body > main
    padding-bottom: 1em

    @media (min-width: 768px)
        padding-bottom: 2em

h1, h2, h3
    font-family: 'Roboto Condensed', sans-serif

h2
    margin-top: 1.5em

p, li
    font-size: 1.2rem
    line-height: 130%

li
    margin-bottom: 0.5em

    h3
        margin: 0 0 0.5em
        font-size: 1.1rem

    ul
        margin-bottom: 1em

a
    color: rgb(26, 94, 221)
    text-decoration: none

    &:hover, &:focus
        color: rgb(91, 43, 188)
        text-decoration: underline

    &:focus
        outline: none
        background-color: rgb(212, 224, 244)

    &:visited
        color: rgb(91, 43, 188)
