*
    box-sizing: border-box

html, body
    height: 100%

body
    margin: 0
    padding: 0
    background-color: rgb(245, 245, 245)
    font-family: 'Crimson Text', serif

h1, h2, h3
    font-family: Arial, sans-serif

p, li
    font-size: 1.2em
    line-height: 130%

li
    margin-bottom: 0.5em

a
    color: rgb(26, 94, 221)
    text-decoration: none

    &:hover, &:focus
        color: rgb(91, 43, 188)
        text-decoration: underline

    &:focus
        outline: none
        background-color: rgb(212, 224, 244)

    &:visited
        color: rgb(91, 43, 188)
