.u-contained
    margin-left: 1em
    margin-right: 1em
    max-width: textMaxWidth

    @media (min-width: 768px)
        margin-left: auto
        margin-right: auto

.u-list-unstyled
    list-style: none
    list-style-type: none
    margin-left: 0
    padding-left: 0
