extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} How I Decided to Experiment with Whole30

block content
    main
        article.u-contained
            h1 How I Decided to Experiment with Whole30

            h2 My Exposure to Whole30

            p I&rsquo;ve never been on a diet. I don&rsquo;t have issues with weight gain and I eat in a reasonably healthy manner. Because I&rsquo;ve always eaten reasonably well, I haven&rsquo;t paid a lot of attention to my diet. Now that I&rsquo;m on my way to 50 that has changed somewhat and I&rsquo;d like to see myself living a reasonably long time. As my father (in his 70s) says: &ldquo;I still have 70 more years to go.&rdquo;

            p I first heard about #[a(href="http://whole30.com") Whole30] a year ago (mid 2016) from a friend who owns a #[a(href="http://wreckingbarbrewpub.com") brew pub]. He spoke highly of Whole30 using phrases like &ldquo;I thought more clearly during that month&rdquo; and &ldquo;I'll do it once a year from now on&rdquo; (I&rsquo;m paraphrasing).

            p It sounded interesting but shortly thereafter Whole30 left my mind.

            p A year later I spoke to my friend again about Whole30 after he&rsquo;d finished his second year doing it and he repeated the same sentiment. His business partner who had completed Whole30 at the same time echoed the sentiment. I become more interested in Whole30, especially the self-experimentation phase that follows the first 30 days.

            p Shortly after our discussion I had a similiar talk with a work colleague visiting from Brooklyn. He is Swiss and has a European history with food meaning he grew up eating food that wasn&rsquo;t highly processed and didn&rsquo;t have all the additives that the majority of commercially-produced food in the United States has. The problems he has here with food he does not have when visiting home. I understood this well as I had the same experience on occasions when I spent significant time in Europe and became accustomed to the food there. After returning from seven months in Europe in 2009, I went through about six weeks of gastrointestinal adjustment getting used to food in the United States. I wasn&rsquo;t happy about it.

            p My colleague spoke highly of Whole30 and was, in fact, 70 days into following the Whole30 plan. After we discussed the affects he was noticing, I decided to read the #[a(href="#") Whole30 book] and learn more for myself.

            h2 The Official Whole30 Book

            p I didn&rsquo;t have any particular expectations before reading the book and I before I opened it I set my expectations reasonably low &ndash; I didn't expect it to be filled with new-age quackery but at the same time I wasn&rsquo;t expecting it to be purely scientific. After reading it I felt like it exceeded my expectations. There was a reasonable amount of science and the authors made it clear they aren't defining a diet for you to follow for the rest of your life &ndash; they are trying to help you improve your eating habits and learn for yourself what things you should eat and what things you should stay away from. This varies from person to person.

            p In the end, I was happy and ready to tackle my first Whole30 after reading the book.

            h3 Understanding the Plan

            p It is specifically a diet of meat, vegetables (minus corn and legumes) and fruit &ndash; a stricter version of the Paleo diet. More importantly, it is an approach to eating that I have always agreed with in the sense that your food should be as unaltered and naturally produced as possible. Favor raw ingredients you prepare and cook yourself over prepared meals and supporting elements. I&rsquo;ve always cooked from scratch for the most part so this approach was nothing new to me. I already knew most of this before reading the book. Now that I&rsquo;ve read it, I know why certain foods have been cut out of the diet for Whole30. That doesn't mean every single element removed from the diet has equal scientific backing. Sugar and alcohol are obvious things to omit. Legumes and seeds less so.

            h3 Don't View it as a Diet

            p If you&rsquo;re on the slightly skeptical side as I am, it&rsquo;s best to view Whole30 not as a diet but as an approach to healthy eating and an experiment to determine what&rsquo;s best for you. If, like me, your diet is already reasonable, one thing you&rsquo;ll get out of doing Whole30 (presuming you do it properly) is an improvement in how you plan your weekly meals. It will also make you pay more attention to the ingredient list on foods you buy that aren&rsquo;t themselves simple ingredients.

            h3 Temper Your Expectations

            p The Whole30 book starts each chapter with a brief testimonial from someone who&rsquo;s done the Whole30 and seen drastic improvement in their health. If your diet is already reasonble, and you don&rsquo;t each much fast food and a lot of processed sugary junk, it&rsquo;s unlikely you&rsquo;ll end up with drastic results from a Whole30 month. That is not important. What&rsquo;s important is how your approach to planning and eating your meals will improve.

            p After my wife and I read the book, we were excited to give Whole30 a try.

            .Pagination
                a.Pagination--prev(href="/whole30/") Previous: Experimenting With Whole30
                a.Pagination--next(href="/whole30/practice-week") Next: The Practice Week
