extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} How I Decided to Experiment with Whole 30

block content
    main
        article.u-contained
            h1 How I Decided to Experiment with Whole 30

            p I&rsquo;m not normally a diet person. I don&rsquo;t have issues with weight gain and I eat in a reasonably healthy manner. I stopped eating fast food in the early 90s in college not for any high-falutin&rsquo; reason &ndash; I just didn&rsquo;t like it. Because I&rsquo;ve always ate reasonably well, I haven&rsquo;t paid a lot of attention to my diet. Now that I&rsquo;m in my 40s that has changed somewhat and I&rsquo;d like to see myself living a reasonably long time. As my father (in his 70s) says: &ldquo;I still have 70 more years to go.&rdquo;

            p I first heard about #[a(href="http://whole30.com") whole 30] a year ago (mid 2016) from a friend who owns a #[a(href="http://wreckingbarbrewpub.com") brew pub]. He spoke highly of whole 30 using phrase like &ldquo;I thought more clearly during that month&rdquo; and &ldquo;I'll do it once a year from now on&rdquo; (I&rsquo;m paraphrasing).

            p It sounded interesting but shortly thereafter whole 30 left my mind and I did not think about it again.

            p About a year later I spoke to my friend again about whole 30 after he&rsquo;d finished his second year of it and he repeated the same sentiment. Additionally, his business partner who had completed whole 30 at the same time this year echoed the sentiment. I become more interested in whole 30, especially the self-experimentation phase that follows the first 30 days.

            p Shortly after our discussion I had a similiar talk with a work colleague visiting from Brooklyn. He is European and has a European history with food meaning he grew up eating food that wasn&rsquo;t highly processed and didn&rsquo;t have all the additives that the majority of commercially-produced food in the United States has. The problems he has here with food he does not have when visiting home. I understood this well as I had the same experience on occasions when I&rsquo;ve spent significant time in Europe and have become used to the food there. After spending seven months in Europe in 2009, I went through about six weeks of gastrointestinal adjustment getting used to food in the United States. I wasn&rsquo;t happy about it.

            p My colleague spoke highly of whole 30 and was, in fact, 2.5 months into following the whole 30 plan. After discussing with him whole 30 the affects he was noticing, I decided to read the #[a(href="#") whole 30 book] and learn more for myself.

            p Where we are vs. where we want to be (improvements, booze, history with eating overseas)

            p Initial expectations (unlikely to be a case study/book quote)


            .Pagination
                a.Pagination--prev(href="/whole30/") Previous: Experimenting With Whole 30
                a.Pagination--next(href="/whole30/practice-week") Next: The Practice Week
