extends ../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} A cooking guide, recipes and tips on improving your cooking habits and healthy eating.

block content
    main
        article.u-contained
            h1 followmystomach.com

            p This is the welcome/intro to followmystomach.com. Keep it brief and let the content below shine.

            h2 Contents

            ul
                li Manifesto
                li About Me
                li Curated found recipes
                li Curated found articles
                li Recipes in depth (understanding and modifying recipes)
                li Recursive cooking
                li Meal planning guide and examples / Planning for the work week / Sequencing Meals
                li Easy gardening for your kitchen
                li Travel cooking

            h2 Pages

            nav.LinkList
                a(href="/manifesto") Manifesto
                a(href="/goals") Goals
                a(href="/whole30") Whole30
                a(href="/improving-your-skills") Improving Your Skills
                a(href="/travel") Travel
                a(href="/planning") Planning
