extends ../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} A cooking guide, recipes and tips on improving your cooking habits and healthy eating.

block content
    main
        article.u-contained
            h1 followmystomach.com

            p This is the welcome/intro to followmystomach.com. It should be very short and let the content below take center stage.

            h2 Contents

            ul
                li Manifesto
                li Cooking guide
                li Curated found recipes
                li You are what you eat: holistic eating articles
                li Recursive cooking
                li Planning for the work week
                li Meal planning guide and examples
                li Easy gardening for your kitchen

            h2 Pages

            nav.LinkList
                a(href="/manifesto") Manifesto
                a(href="/goals") Goals
                a(href="/whole30") Whole30
