extends _layout.pug

block content
    main
        article.u-readable
            h1 followmystomach.com

            p End government subsidies to processed food. We grow more corn for livestock and cars than for humans, and it&rsquo;s subsidized by more than $3 billion annually; most of it is processed beyond recognition. The story is similar for other crops, including soy: 98 percent of soybean meal becomes livestock feed, while most soybean oil is used in processed foods. Meanwhile, the marketers of the junk food made from these crops receive tax write-offs for the costs of promoting their wares. Total agricultural subsidies in 2009 were around $16 billion, which would pay for a great many of the ideas that follow.
