extends ../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Style Guide / Playground

block content
    main
        article.u-contained
            h1 followmystomach.com Style Guide

            p This is the style guide for followmystomach.

            h2 Contents

            .PromoBlock
                .Promo
                    h3 Promo title
                    p This is the text for a promotional item called out styled blocks.
                .Promo
                    h3 Promo title
                    p This is the text for a promotional item called out styled blocks.
                .Promo
                    h3 Promo title
                    p This is the text for a promotional item called out styled blocks.

            .PromoBlock
                .Promo
                    h3 Promo title
                    p This is the text for a promotional item called out styled blocks.
                .Promo
                    h3 Promo title
                    p This is the text for a promotional item called out styled blocks.
