extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Cooking Guide #{separator} Groceries

block content
    main
        article.u-contained
            h1 Groceries

            p This page is about shopping for groceries when traveling, specifically using grocery stores and super markets as opposed to street/farmers' markets.

            h2 Grocery Store Tips

            ul
                li Visit several to see what they offer
                li Learn/note their hours
                li Use them to break bigger bills (sparingly)
                li Bring your own bag(s), not everywhere provides them
                li Get your cheap stuff here

            .Todo Add some stories
            .Todo Add a list of what I normally buy here


            h2 Other Food Shops

            ul
                li Check the prepared foods, some can be amazing
                li Look for friendly merchants and ask them advice and suggestions (people love to give advice)
                li If you find a good proprietor, let them guide you, especially after you've vetted the place and determined they aren't just trying to take all your money

            h2 Specialty Foods

            p You could also call these focused food shops: shops specializing in a single thing like meat, fish, cheese, bread, pastries, wine, etc.

            p You can find some really interesting items here and more diversity than you are likely to find at a generalized store.

            p If you find great proprietors, get them to give you a tour of their ingredients if they aren't busy.

            h2 Next

            p
                a(href="../markets") Read about taking advantage of local markets in the next page in this series.
