extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Our Results With a Whole 30 Practice Week

block content
    main
        article.u-contained
            h1 Our Results With a Whole 30 Practice Week

            p Better understanding of level of planning - beyond past efforts - compare to holiday planning.
            p Somewhat better understanding of what was going to be difficult to give up.


            .Pagination
                a.Pagination--prev(href="/whole30/practice-week") Previous: Practice Week
                a.Pagination--next(href="/whole30/the-interim") Next: The Interim Between Whole 6 and Whole 30
