header.NavBar
    .SiteHeader.u-contained
        a.SiteLogo(href="/") followmystomach
        nav.SiteNav
            a(href="/manifesto") Manifesto
            a(href="/goals") Goals
            a(href="/whole30") Whole30
            a(href="/improving-your-skills") Skills
            a(href="/travel") Travel
