h3 In This Series
.SectionNav
    a(href="/travel/guide/getting-ready") Getting Ready to Go
    a(href="/travel/guide/arrival") What to Do Upon Arrival
    a(href="/travel/guide/groceries") Groceries
    a(href="/travel/guide/markets") Markets
    a(href="/travel/guide/improvising") Improvising
    a(href="/travel/guide/standard-recipes") Standard Recipes
    a(href="/travel/guide/for-gardeners") Tips for Gardeners Collecting Seeds
