extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Guide to Cooking When Traveling

block content
    main
        article.u-contained
            h1 Cooking When Traveling

            p One of the primary reasons I travel is to experience food and cooking culture abroad. When you go out to eat when traveling, you experience a part of this food culture. For many of us, cooking at home when traveling isn't something we naturally think of, perhaps because of the many barriers to doing so (lack of time, lack of a fully-stocked kitchen, etc). Because I've stayed in many apartments internationally, and visited a ton of grocery stores and markets, and I've built up a pretty good knowledge base around the processes surrounding travel cooking. I have found cooking when traveling to be very rewarding so I've put together this little guide to getting the most out of cooking when you travel.

            h2 Barriers to Cooking Abroad

            p There are two main barriers to cooking abroad &ndash; not having a kitchen and not having the time to cook. If you cannot remove these barriers, it's unlikely you'll find this guide useful. I hope you can use it to your advantage.

            p The first barrier can be removed by staying in apartments rather than hotels. There are many other reasons why staying in apartments can be beneficial which is why I rarely stay in hotels. With sites like AirBnB, finding an apartment can be a fun part of preparing for your travel. When searching for apartments remember to look for a reasonable kitchen and proximity to good markets. If the listing has no photos of the kitchen, or the kitchen appears to be lacking in critical features (space, stove, refridgerator) then avoid it.

            p The other critical barrier can be a bit more difficult to remove. If you only stay in places for a few days when you travel, you will find it nearly impossible to cook when traveling. My experience has taught me that I need to stay in place for at least two weeks to get the most out of cooking locally. Even a week makes it difficult since you will find it tricky to effectively use the perishable items you buy. Additionally, you will likely find plenty of interesting restaurants that distract you from wanting to cook in your apartment &ndash; for me this is the more prominent reason why I find it difficult to cook when I have an apartment for a week or less.

            p This duration of stay barrier to cooking abroad is difficult to remove since it requires an adjustment to your thinking about travel and your planning. <strong>I'm going to make the assumption that you've solved this otherwise you may not find this guide useful.</strong>

            h2 Contents

            p This guide covers a variety of topics from planning your trip to scheduling meals to save money to improvising in foreign kitchens.

            ol
                li
                    a(href="getting-ready") Getting Ready to Go
                li
                    a(href="arrival") What to Do Upon Arrival
                li
                    a(href="groceries") Groceries
                li
                    a(href="markets") Markets
                li
                    a(href="improvising") Improvising
                li
                    a(href="") Standard Recipes
                li
                    a(href="for-gardeners") Tips for Gardeners Collecting Seeds
