extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Thanksgiving Meal Planning

block content
    main
        article.u-contained
            h1 Thanksgiving Meal Planning

            ul
                li Planning starts the week before, the list
                li The grocery trip(s)
                li Sketches: not missing actions, timing/sequencing
