extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Our Whole30 Practice Week

block content
    main
        article.u-contained
            h1 Our Whole30 Practice Week

            p My wife and I had a variety of travel and other events in the weeks that followed our decision to try Whole30 so we knew it was best to wait almost two months before we could start Whole30. My wife suggested we do a trial run and follow the Whole30 plan for a week to see how it felt.

            p This turned out to be a great thing as it helped prepare us for the Whole30 month that was to come. There were a variety of advantages to doing this.

            h2 Understanding Planning Efforts

            p When following Whole30 you are likely to be removing a lot of elements from your diet, and specifically, a lot of elements that you might use as crutches which make it easy to fill in gaps in your weekly meal planning. For me one of those crutches is pasta. I always have it and I can always make something during the week for days where I have no plan for dinner.

            p During Whole30, it&rsquo;s best not to have these gaps in your weekly meal plan as you may not have the ingredients on-hand to improvise and you can rely less (or not at all) on your crutches. In the cases where you do have available ingredients, you may find yourself cooking something you regularly cook and then you run the risk of becoming bored with what you&rsquo;re eating &ndash; you&rsquo;ll find plenty of examples/complaints from people online who&rsquo;ve run into this problem.

            p The greatest benefit we had from doing this seven-day trial of Whole30 was that we gained a better understanding of the effort required to plan out an entire week of meals. Because of this we were able to mentally prepare for the efforts required during our true Whole30 month. For us, meal planning happens on Saturday to prepare for our regular grocery store trip on Sunday morning.

            p One habit we got into was checking our mealplan daily (we kept it online) so that at the end of the workday, we&rsquo;d know what we were going to cook before we left work. This helped us mentally prepare and know if we needed to start cooking as soon as we got home or if we had some time to relax or do other things because the night&rsquo;s meal required less preparation and cooking time.

            p
                | Here is the first meal plan we made:
                br
                a(href="https://caltemose.github.io/mealplans/plans/2017-07-31.html") https://caltemose.github.io/mealplans/plans/2017-07-31.html

            p After creating this mealplan, we&rsquo;d laid the framework for keeping up this rigorous meal planning during our Whole30 month and ideally, well into the future.

            h2 Minimizing Withdrawals

            p Another benefit of this trial week was getting a peak into what things we&rsquo;d miss during Whole30. Again, this helped with the mental preparations. During our trial week the main thing we missed was alcohol &ndash; this was more about habit than dependency. Because a week is a reasonably short timeframe, we didn&rsquo;t have the opportunity to miss any of the other Whole30 omissions.

            h2 The Interim Between Whole7 and Whole30

            p 

            .Pagination
                a.Pagination--prev(href="/whole30/precursor") Previous: The Precursor
                a.Pagination--next(href="/whole30/first-half") Next: Whole30 First Half
