extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Why We Tried a Whole 30 Practice Week

block content
    main
        article.u-contained
            h1 Why We Tried a Whole 30 Practice Week

            p Wife's suggestion
            p Speed dating aspect
            p Understand level of planning - previous planning efforts (weekly, holiday)
            p Minimize withdrawal issue
            p Made a plan: mealplans site

            .Pagination
                a.Pagination--prev(href="/whole30/precursor") Previous: The Precursor
                a.Pagination--next(href="/whole30/practice-week-results") Next: Practice Week Results
