nav.LinkList--section
    a(href="/whole30/precursor/") Precursor
    a(href="/whole30/practice-week/") Practice Week
    a(href="/whole30/practice-week-results/") Practice Week Results
    a(href="/whole30/the-interim/") The Interim
    a(href="/whole30/week-one/") Week One
