extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} My story of experimentation with Whole 30 and how to get the most out of the plan.

block content
    main
        article.u-contained
            h1 My Experience With Whole 30

            p
                | If you aren't familiar with Whole 30, you could call it a diet. I prefer to intepret it as an approach to eating. Put simply, for one month you eat only unprocessed foods that fall into the meat/fish, vegetable and fruit categories. Once that month is finished you experiment on yourself by adding one ingredient at a time back into your diet from the list of things you could not eat during the month. To learn more,
                |
                a(href="http://whole30.com") read about Whole 30 on its official website.

            p The posts I've written about Whole 30 start with how and why I chose to experiment with Whole 30 and how I believe is a healthy way to approach Whole 30 and get success from the plan.

            h2 The Story

            nav.LinkList
                a(href="/whole30/precursor") Precursor - Why I Chose to Experiment with Whole 30
                a(href="/whole30/practice-week") The Decision to Try a Practice Week - Testing the Waters
                a(href="/whole30/practice-week-results") What We Learned During the Practice Week
                a(href="/whole30/the-interim") Planning Ahead to Whole 30
                a(href="/whole30/week-one") Week One
