extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} My story of experimentation with Whole30 and how to get the most out of the plan.

block content
    main
        article.u-contained
            h1 Thinking Smartly about Whole30

            p There&rsquo;s a lot of discussion/commentary about Whole30 these days and as usually, most media ramblings about it are off the mark. I want to discuss Whole30 briefly because I believe there is a lot to be learned from it if you approach it correctly.

            p If you look at Whole30 as a diet, you are missing the point. It is best viewed as an experiment with your eating habits you can use to improve your relationship with food and subsequently your health. There is a lot of praise of Whole30, including testimonials in the Whole30 book itself, that could give you the impression that Whole30 is a diet that will cure your problems. If your diet is complete crap and you embark on Whole30 and see amazing results, they are not because of Whole30. They are because you improved your diet by eliminating many things that are not healthy for you.

            p If you want to improve your health but do not find Whole30 appealing, or think it is exaggerated, there are a few key takeaways from Whole30 that will help you. These are the things I learned from Whole30 and try to keep with me permanently.

            h2 Avoid Processed Foods

            p Many diets and many people have been saying this for a long time and for good reason. When you focus on buying raw ingredients instead of pre-built meals or meal items, you will naturally end up eliminating a lot of unnecessary garbage from your diet.

            h2 Always Plan Your Meals

            p Prior to Whole30 I did a reasonably decent job of planning our weekly meals. However, I frequently left gaps in the weekly meal plan because I knew I could whip something up with pasta or polenta or rice and fill in gaps in the meal plan on-the-fly. I would also skip meal planning at times and go to the grocery store without a list and just buy things I thought I could hobble into a set of meals for the week. This lead to some meals being mostly (or entirely) devoid of vegetables and carbohydrate heavy. It also lead to weeks of meals that were not as nutritionally balanced as they should be.

            h2 Wrap this Up

            p End this article nicely please...maybe some thoughts on where to go next.
