extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} My Goals for This Site

block content
    main
        article.u-contained
            h1 My Goals for followmystomach.com

            p This page is in-progress. It contains quasi-official goal statements and notes about goals.

            h2 Goals in Progress

            ul.u-list-unstyled
                li
                    h3 Share techniques for beginners and people who find cooking tricky:
                    ul
                        li Plan well
                        li Clean as you go
                        li Focus on good ingredients
                        li Explore your local food ecosystem
                li
                    h3 Share techniques for efficient cooking:
                    ul
                        li Plan in sequences
                        li Avoid difficult meals during times when you have insufficient prep time


            h2 Notes About Goals

            ul
                li Share techniques for people who have difficulties cooking or are starting to learn
                li Share techniques for being efficient and avoiding common problems
                li Show how healthy/good eating doesn’t have to be complicated
                li Share recipes without cruft
                li Curate found recipes
                li Share recursive cooking (e.g. pea risotto with pod broth, shrimp & grits with shrimp broth)
                li Share techniques for weekly meal planning
                li Share techniques for smart/efficient use of ingredients and leftovers throughout the week
