extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Cooking Guide #{separator} Markets

block content
    main
        article.u-contained
            h1 Markets

            p This page is about exploring and taking advantage of foreign markets, specifically the daily or weekly markets that take over a plaza or a parking lot and offer the most variety of fresh ingredients you are likely to find.

            ul
                li Learn the schedules (many markets are not daily)
                li Can be super cheap
                li Get what's in season
                li Food usually the freshest
                li Get what you know to taste how it differs
                li Explore exotic or unknown ingredients, get stuff you cannot get at home
                li Learn by watching locals shop
                li Get suggestions on recipes/preparation tips
                li Ask for tastes/Don't be shy but don't be an ass
                li Buy small so you don't have waste/leftovers

            h2 Next

            p
                a(href="../improvising") Read about improvising in limited kitchens in the next page in this series.

            include ../_nav.pug
