extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Cooking Guide #{separator} For Gardeners

block content
    main
        article.u-contained
            h1 Travel Suggestions for Gardeners

            p This page is for those of you who maintain a garden. While there are many plants that simply cannot be transported from your travel destinations to your home, there are plenty that can be. When I travel, I keep an eye out for seeds I can bring back home to attempt to grow in my garden.

            p Being successful in this regard requires some knowledge of what is likely to grow successfully when transported to a different environment. I have had some luck with a few plants and been less lucky with others.

            p Some seeds I've had luck with:

            ul
                li Peppers (hot and sweet)
                li Grass (basically weeds from Sicily)

            p Some seeds I had no luck with:

            ul
                li Lantana
                li Various other flowering plants (not fruiting)

            p All of these seeds I harvest either from fruits (peppers, tomatoes) or from plants (grass, Lantana).

            p If you haven't saved seeds before but are interested in giving it a shot, keep in mind that you need to make sure the seeds have matured enough to be ready to germinate after you bring them home. If you plan to save seeds from vegetables, get seeds from vegetables that are very mature. For example, choose a red pepper over a green version (of the same variety, given that they are red peppers). Something like cucumbers will be more difficult as vendors don't tend to sell very mature fruits since younger fruits are more desirable and their seeds usually aren't mature enough to be ready for germination.

            p If you plan to save seeds, some are easier than others. Peppers are easy. Tomatoes and cucumbers require a little more work but are still fairly easy (soak the seeds in water a few days to remove the sticky bits and fluids). You can find directions all over the web for specific plants if you need help.

            h2 Storage

            p If you choose to take seeds home, make sure you've dried them before storing them. You can improvise all sorts of containers (empty sugar packets, small plastic bags) for carrying the seeds home. Be sure to label them clearly and keep seeds segregated.

            h2 Once You're Home

            p Give special attention to your new seeds when you try to plant them. Make sure you care for them properly to give them the best chance to germinate and grow. Given what you went through to get them, it's worth the additional effort and attention. I've germinated a few seeds that sprouted but then died. Depressing...

            include ../_nav.pug
