extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Cooking Guide #{separator} Improvising in the Kitchen

block content
    main
        article.u-contained
            h1 Improvising in the Kitchen

            ul
                li Have the right mindset (constraints are good)
                li Save food containers for leftovers
                li Bottle as rolling pin
                li Know when not to improvise, don't force things

            p Working in a temporary kitchen can be fun but it's often a bit of work and requires some thinking when you plan recipes and buy ingredients. It's very likely you will not have access to a fully-stocked kitchen. How a kitchen is stocked can be a great limiter on what you can cook since it's possible you won't have an oven or may have only one stove burner or will have a very small refrigerator.

            p One thing you may want to carry with you if you plan to do a lot of cooking and already spend a lot of time in the kitchen is a good chef's knife. Do not expect to find good knives in any rental apartment. Just be aware of the ramifications of carrying a knife (no carry-on).

            include ../_nav.pug
