extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Preserving with Vinegar and Oil

block content
    main
        article.u-contained
            h1 Preserving with Vinegar and Oil

            p While visiting relatives in the Abruzzo region of Italy, I ate some really fantastic zucchini that had been preserved with vinegar and oil and stored in jars. The recipe is very simple.

            ol
                li Prepare the vegetables (clean, cut into slices)
                li Boil enough vinegar to submerse the vegetables
                li Cook the vegetables for a few minutes
                li Remove the vegetables and let them cool for a bit
                li Remove the liquid from the vegetables by wrapping them in a towel and squeezing them
                li Put the vegetables into jars and submerse in olive oil

            p That's the basic process. You can do this with all sorts of vegetables or mushrooms (we had chanterelles prepared the same way that day). For my cousin who forages mushrooms most of the year, this is the best way to preserve mushrooms. I could not disagree.
