.section-menu {
  margin: 2em 0 1em;
  padding: 0.3em 0;
  font-size: 0.9em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  h5 {
    margin: 0 0 0.25em;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #444;
  }

  a, span {
    display: inline-block;
    margin-right: 0.5em;

    &:after {
      content: '';
      padding-right: 0.5em;
      border-right: 1px solid #999;
    }

    &:last-child:after {
      padding-right: 0;
      border-right: none;
    }
  }

  span {
    color: #999;
  }
}
