extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Planning Individual Meals

block content
    main
        article.u-contained
            h1 Planning Individual Meals

            p This section is about individual meal planning, including planning for holidays and celebrations.

            nav.LinkList
                a(href="thanksgiving") Thanksgiving meal planning
