extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Our First Week of Whole30

block content
    main
        article.u-contained
            h1 Our First Week of Whole30

            include ../_whole30-nav.pug
