extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} The Interim Between Whole 6 and Whole 30

block content
    main
        article.u-contained
            h1 The Interim Between Whole 6 and Whole 30

            p Planning timeframe considering significant business travel
            p Instant improvements

            .Pagination
                a.Pagination--prev(href="/whole30/practice-week-results") Previous: Practice Week Results
                a.Pagination--next(href="/whole30/week-one") Next: Whole 30 Week One

