extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Eating, Cooking and Learning When Traveling

block content
    main
        article.u-contained
            h1 Traveling to Eat, Cook, Learn

            p I love to travel. I work to travel...

            nav.LinkList
                a(href="notes") Notes
                a(href="guide") Guide
