extends ../../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Cooking Guide #{separator} What to Do Upon Arrival

block content
    main
        article.u-contained
            h1 What to Do Upon Arrival

            p I'm presuming here that you've already rested from the flight/trip if it's necessary. Duh.

            h2 Assess the Apartment Situation

            p Check out your kitchen space and the provided tools. Here are some questions to consider:

            dl
                dt What size is the fridge?
                dd This has rarely been a problem for me but if the fridge is very small, you need to consider this when buying items that need refridgeration.

                dt How many burners does the stove have (presuming there is one)?
                dd If you're in a big city where space is costly, you might find yourself in an apartment with only one burner. This can make cooking tricky but not impossible. One burner is a limitation but any more than that and you should be fine.

                dt Is there an oven?
                dd Sometimes there isn't. I rarely use an oven when traveling so I don't find the lack of an oven a big deal. Depending on how and what you want to cook, this may or may not be an issue for you. If you are a baker and want to bake in foreign lands, make sure your apartment has an oven before you rent it.

                dt How many pots and pans are there? What sizes and types are they?
                dd Lack of pots and pans has been an issue for me a few times. In some apartments I've had plenty of pots and pans but they've all been very small. Assess the situation and see what limitations it presents. If you're expecting to have a non-stick pan in good condition, don't set your hopes too high. This kind of pan in rental apartments is usually scratched up a good bit.

                dt What kind of knives do you have?
                dd Across rental apartments the knife situation can vary greatly but one thing is constant. The knives are almost always dull and never of high quality. The selection generally looks like what you'd find a a thrift store that has already been picked through by many people. That said, you'll make due. And as I've mentioned previously, if you are traveling for an extended time (i.e. quite a few months) then you may wish to carry your own chef's knife.

                dt What kind of storage tools are there (containers, plastic wrap, aluminum foil)?
                dd This is almost always an issue and it means that you have two choices &ndash; do your best to avoid leftovers or get creative with what you buy at grocery stores so you can reuse packaging from purchased items. For example, I've stored small amounts of things in used yogurt containers. Since you're unlikely to have large amounts of leftovers, this problem is easily solved as long as you can get creative with how you approach saving things for later.

                dt What kind of secondary tools are there, if any (blender, cheese grater, hand mixer, etc)?
                dd This question is last because it's not super important. However, if you are in a place where you want to make pasta, a cheese grater is likely to be useful. Additionally, if you are somewhere there is a ton of great fruit, you may wish to make smoothies if you have a blender.



            p The answers to these questions help you plan what to eat and figure out how simple or complex your meals can be during your stay.

            h2 Assess the Neighborhood Situation

            p Visit the close grocery and food stores, note their hours and explore them for an overview of what kind of ingredients are available. Pick up some staples (milk, juice, water if necessary, crackers or cookies, etc).

            p See what kind of prepared food shops are available. They can provide dishes and prepared ingredients that are either better than you can make or that you won't be able to make because of lack of time, equipment, etc.

            p Go eat out and let it all sink in. Think about what you saw and what appeals most to you. Get excited about cooking abroad.

            h2 Next

            p
                a(href="../groceries") The next page is this series is about buying groceries.
