extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Travel Notes: Stuff I've Learned/Noticed/Figured Out While Traveling

block content
    main
        article.u-contained
            h1 Travel Notes

            p This section is where I jot down notes about various things I've learned while traveling. These notes could be about recipes, techniques, local produce...whatever.

            p
                a(href="sottaceto") Preserving Vegetables with Vinegar and Oil
