extends ../../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Preparation: Getting Ready to Cook

block content
    main
        article.u-contained
            h1 Preparation: Getting Ready to Cook

            p These tips are primarly for people who have just started cooking or are looking to solidify their foundation of cooking skills. If you're confident in your cooking skills, presumably you've already established the practices below.

            h2 Prepare Properly

            p For so many processes, when you start solidly you are more likely to finish well. Before you start cooking, make sure:

            ul
                li you have sufficient time
                li you have what you need
                li your working area is clean
                li your ingredients are collected, cleaned and prepared (mise en place)


            h2 You Have Sufficient Time

            p This requirement is easy to ignore but luckily easy to understand. If you do not have sufficient time to make the recipe or meal you are considering, you will be rushed and unhappy with the results. You have two choices here &ndash; don't cook or make something simpler requiring less time.

            h2 You Have What You Need

            p In addition to needing sufficient time, to be successful in the kitchen you should have the appropriate cooking tools and the appropriate ingredients, properly prepared. Fortunately, many recipes do not require a complex toolset and it's wise when starting to cook to stick to these kinds of recipes. I'll get into what a core set of kitchen tools looks like later, but at a minimum all you really need is a cooking board and a good knife, a pot and a pan (ideally both having lids) and something to stir with. Sure, your kitchen probably already has many more tools but the majority of them are not core requirements for cooking.

            p Having the appropriate ingredients is important when you're getting comfortable and efficient with cooking because it takes time to build up the appropriate skills and intuition to know how to alter recipes and substitute ingredients. Even after a few decades of cooking, I find it easy to make substitutions in recipes that bring me to unsuccessful results, whether inedible or just unpleasant. Don't attempt to make subtitutions in recipes until you've made these recipes enough times to be able to better predict the results of your substitutions.

            p In other words, if you don't have the right ingredients for a recipe, it's best to chose a different recipe.

            h2 Your Working Area is Clean

            p There are two parts to this element &ndash; the first is starting with a clean and organized work space. If you start cooking with dirty dishes, utensils or pots and pans, you are starting with a disadvantage. Take a clue from the pros and make sure your sink is empty and your counter tops are clean and ready to go. The second bit here is to maintain this cleanliness while you're cooking.

            h3 Clean as You Go

            p One of the most important lessons I've learned is to clean as you cook. I used to finish cooking only to see a giant mess in the kitchen and have very little energy for cleaning it after eating a grand meal. A retired chef taught me the importance of cleaning while cooking. This prevents you from building layer upon layer of dirty dishes and kitchen equipment. When you find yourself waiting for water to boil or sauces to reduce or anything else where your absolute attention is not needed, jump over to the sink and clean up what you can. If helpful, keep a bowl of warm, soapy water in the sink or nearby to facilitate quick clean up.

            p Getting into this practice will make things much easier for you as you attempt to make more complex meals which have the potential to leave behind a trail of dirty pots, pans and other items.

            h2 Mise en Place

            //- p If you watch cooking shows or have attended classes, it's pretty likely you've heard of mis en place. This is because successful cooking depends on this practice: having all your ingredients cleaned, chopped/cut as needed and measured according to your recipes.

            p If you watched any cooking tv, you've probably heard this phrase and seen a chef's workspace setup before the cooking starts &ndash; you'll see vegetables cleaned and cut to the needed sizes, spices or grains measured and put into cups/containers ready for use and meat trimmed and otherwise prepped for cooking. You'll probably see the required cooking tools out and ready for use.

            p When you start this way, your cooking efforts flow smoothly and you are less likely to miss a step, forget an ingredient or burn something because you had the distraction of having to prepare a missed ingredient. The phrase "measure twice, cut once" is appropriate here &ndash; when you prepare properly you are more likely to succeed in the kitchen.
