extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} If you enjoy eating, you should probably follow my stomach. Read why here.

block content
    main
        article.u-contained
            h1 The Manifesto for followmystomach.com

            p This site is about food and our relationship with food.

            h2 Some Thoughts

            ul.u-list-unstyled
                li &ldquo;You are what you eat&rdquo; isn&rsquo;t just a saying. It&rsquo;s a fact.
                li Home cooking is only difficult if you make it difficult.<sup>*</sup>
                //- li When I'm following a recipe online I don't want to be bothered by stories, ads or other distractions. I just want the recipe.
                //- li Glamorizing food is unhealthy.
                //- li It&rsquo;s sad that countries much poorer than the USA have significantly better and more accessible fresh food markets.
                //- li Children should be shown how to have a healthy relationship with food.
                li For the most part, there is no reason for food to be fast.
                //- li Food convenience has downsides.
                //- li Everything *isn’t* better with bacon.
                li Moderation is best 99% of the time.
                //- li Don&rsquo;t use holidays as excuses to be gluttonous. This behavior sets you up for developing bad habits.
                li There is no single authority on what is healthiest for you. You're going to need your brain and willpower to be healthy.
                //- li It&rsquo;s quite possible there&rsquo;s enough food in the world to feed everyone but the distribution of food is immensely unbalanced. Neither money nor food science will solve this problem; only behavioral and societal adjustments will.
                li Feeding people good food will make you happy.
                //- li Buy memories, not things. They last longer and are more fun to share.
                //- li It&rsquo;s likely you should know more about where your food comes than you currently do.
                //- li Unhappy animals yield unhealthy meat.
                //- li Poisoning the environment makes as much sense as peeing on your breakfast.
                li Give growing your own food a shot. It&rsquo;s great therapy and it&rsquo;s rewarding.
                //- li Food you grow and prepare yourself gives you an intense satisfaction.
                li If you enjoy cooking and eating you&rsquo;ll probably enjoy following my stomach.

            h2 <sup>*</sup>Caveats

            p I realize that for plenty of people home cooking is difficult because of reasons partially or entirely out of their control. Specifically I'm speaking of people who live in food deserts or for whom reasonably-priced access to healthy raw ingredients is difficult to come by. This makes me sad as there is no reason for people in a wealthy (enough) country to have difficulty finding food.
