extends ../../templates/_layout.pug

block title
    title #{defaultTitle} #{separator} Improving Your Cooking Skills

block content
    main
        article.u-contained
            h1 Improving Your Cooking Skills

            p One of the reasons I started this site is to help people looking to build on their cooking skills. This section is for people just getting started or for those who have been cooking for a while but are frequently frustrated in the kitchen and have difficulties finding success in cooking.

            p With this collection of pages I hope to provide some basic tips and motivation to make it easier for those of you who fall into either of these categories. Cooking can be a source of joy but it can also be an unbearable chore if you let it.

            p The <a href="preparation/">first article contains foundational tips</a> that can help you be more efficient and successful when cooking by preparing properly.
